/*-----------Global Stylings----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2 {
    font-family: 'Yusei Magic', sans-serif;
    color: #386641;
}

p {
    font-family: 'Lato', sans-serif;
    color: #386641;
    font-weight: 600;
}

.heading {
    text-align: center;
    padding-top: 20px;
}

.circular-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.section-header {
    padding-top: 50px;
    padding-bottom: 20px;
}

#background-coloring {
    background-color: #f2e8cf;
}

a {
    color: #bc4749;
}

a:hover {
    color: #bc4749;
}

/*-----------Navbar Section----------*/

.navbar {
    background-color: #386641;
}

.navbar-dark .navbar-brand {
    color: #f2e8cf;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.6em;
}

.navbar-dark .navbar-brand:hover {
    color: #f2e8cf;
}

.navbar-dark .navbar-toggler {
    color: rgba(242,232,207,0.5);
    border-color: rgba(242,232,207,0.5);
    border-width: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(242,232,207,0.5);
    font-family: 'Lato', sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(242,232,207,0.9);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #f2e8cf;
}

.nav-social-icons {
    padding: 0.5rem;
}

.nav-social-icons a {
    color: rgba(242,232,207,0.5); 
    font-size: 1.2em;
    padding: 10px;
}

.nav-social-icons a:hover {
    color: rgba(242,232,207,0.9);
}

@media only screen and (max-width: 992px) {
    .nav-social-icons {
    padding-left: 0;
}

.nav-social-icons a {
    padding-left: 0;
}
}

/*-----------Home Page Section----------*/

.hero-image {
  background-image: url("../images/beagles.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.adopt {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgba(242,232,207,0.8);
    color: #386641;
    border: 5px rgb(56,102,65,0.8) solid; 
    border-radius: 10px;
    width: 200px;
    height: 120px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.adopt-dog {
    text-align: center;
}

.adopt-dog p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-info {
    text-align: center;
}

.more-info a {
    background-color: #a7c957;
    border: 2px #6a994e solid;
    border-radius: 5px;
    padding: 5px 20px;
    color: #386641; 
}

/*-----------About Us Section----------*/


.align-right {
    text-align: right;
}

.about-us-image {
    min-width: 250px;
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: 5px solid #386641;
    border-radius: 50%;
}

.bottom-text {
    margin-top: 30px;
}

/*----------Meet the Dogs Section----------*/

#meet-the-dogs h2 {
    text-align: center;
    margin-bottom: 20px;
}

.meet-image {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 5px;
    border: 2px solid #386641;
    border-radius: 50%;
}

#meet-the-dogs p {
    margin-top: 20px;
}

/*----------Why Adopt Section----------*/

.adopt-photos {
    height: 300px;
    width: 300px;
    margin: 20px;
}

#why-adopt, h2 p {
    text-align: center;
}

#why-adopt h2 {
    padding-bottom: 10px;
}

/*----------Contact Form Section----------*/

#contact {
    padding-bottom: 25px;
}

#contact .heading p {
    padding: 20px 0;
}

.btn-primary {
    color: #f2e8cf;
    background-color: #386641;
    border-color: #386641;
}

.btn-primary:hover {
    background-color: #bc4749;
    border-color: #bc4749;
}

/*----------Footer----------*/

footer p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer .social-icons p {
    padding-bottom: 0;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    color: #386641;
    font-size: 2em;
    padding: 25px;
}

.social-icons a:hover {
    color: #6a994e;
}