/*-----------Global Stylings----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2 {
    font-family: 'Yusei Magic', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/*-----------Navbar Section----------*/

.navbar {
    background-color: #386641;
}

/*-----------Home Page Section----------*/

.hero-image {
  background-image: url("../photos/beagles.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}