/*-----------Global Stylings----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2 {
    font-family: 'Yusei Magic', sans-serif;
    color: #386641;
}

p {
    font-family: 'Lato', sans-serif;
    color: #386641;
    font-weight: 600;
}

.heading {
    text-align: center;
    padding-top: 20px;
}

.circular-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.section-header {
    padding-bottom: 20px;
}

#background-coloring {
    background-color: #f2e8cf;
}

a {
    color: #bc4749;
}

a:hover {
    color: #bc4749;
}

/*--Divider copied from https://templatefor.net/best-css-dividers/ --*/

.divider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "futura-pt";
  font-size: 3em;
  margin: 0 1em;
  padding: 20px;
}

.divider::before{
  content: '';
  height: .125em;
  background: #386641;
  flex: 1;
  margin: 0 .25em 0 0;
}
.divider::after{
  content: '';
  height: .125em;
  background: #386641;
  flex: 1;
  margin: 0 0 0 .25em;
}

/*-----------Navbar Section----------*/

/*--All navbar classes are overwritten from Bootstrap classes. The new colouring and font matches the colour pallette for the site better than the Bootstrap default--*/

.navbar {
    background-color: #386641;
}

.navbar-dark .navbar-brand {
    color: #f2e8cf;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.6em;
}

.navbar-dark .navbar-brand:hover {
    color: #f2e8cf;
}

.navbar-dark .navbar-toggler {
    color: rgba(242,232,207,0.5);
    border-color: rgba(242,232,207,0.5);
    border-width: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(242,232,207,0.5);
    font-family: 'Lato', sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(242,232,207,0.9);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #f2e8cf;
}

.nav-social-icons {
    padding: 0.5rem;
}

.nav-social-icons a {
    color: rgba(242,232,207,0.5); 
    font-size: 1.2em;
    padding: 10px;
}

.nav-social-icons a:hover {
    color: rgba(242,232,207,0.9);
}

@media only screen and (max-width: 992px) {
    .nav-social-icons {
    padding-left: 0;
}

.nav-social-icons a {
    padding-left: 0;
}
}

/*-----------Home Page Section----------*/

.hero-image {
  background-image: url("../images/beagles.jpg");
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.adopt {
    background-color: rgba(242,232,207,0.8);
    color: #386641;
    border: 5px rgb(56,102,65,0.8) solid;
    border-radius: 10px;
    width: 50%;
    height: 20%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adopt-dog {
    text-align: center;
}

.adopt-dog p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-info {
    text-align: center;
}

.more-info a {
    background-color: #a7c957;
    border: 2px #6a994e solid;
    border-radius: 5px;
    padding: 5px 20px;
    color: #386641; 
}

/*-----------About Us Section----------*/


.align-right {
    text-align: right;
}

.about-us-image {
    min-width: 250px;
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: 5px solid #386641;
    border-radius: 50%;
}

.bottom-text {
    margin-top: 30px;
}

/*----------Meet the Dogs Section----------*/

#meet-the-dogs h2 {
    text-align: center;
    margin-bottom: 20px;
}

.meet-image {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 5px;
    border: 2px solid #386641;
    border-radius: 50%;
}

#meet-the-dogs p {
    margin-top: 20px;
}

/*----------Why Adopt Section----------*/

.adopt-photos {
    height: 300px;
    width: 300px;
    margin: 40px;
    border-radius: 10%;
}

#why-adopt, h2 p {
    text-align: center;
}

#why-adopt h2 {
    padding: 20px;
}

#why-adopt .row p {
    width: 90%;
    margin: auto;
}

/*----------Contact Form Section----------*/

#contact {
    padding-bottom: 25px;
}

#contact .heading p {
    padding: 20px 0;
}

/*--All button classes are overwritten from Bootstrap classes. The new colouring matches the colour pallette for the site better than the Bootstrap default--*/
  
.btn-primary {
    color: #f2e8cf;
    background-color: #386641;
    border-color: #386641;
}

.btn-primary:hover {
    color: #f2e8cf;
    background-color: #bc4749;
    border-color: #bc4749;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #f2e8cf;
    background-color: #bc4749;
    border-color: #bc4749;
}

.btn-primary:focus {
    color: #f2e8cf;
    background-color: #bc4749;
    border-color: #bc4749;
    box-shadow: 0 0 0 0.2rem rgb(188 71 73 / 50%);
}

/*----------Footer----------*/

footer {
    background-color: rgba(242,232,207,0.5);
}

footer p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer .social-icons p {
    padding-bottom: 0;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    color: #386641;
    font-size: 2em;
    padding: 25px;
}

.social-icons a:hover {
    color: #6a994e;
}